@tailwind base;
@tailwind components;
@tailwind utilities;


.bm-result-page {
  text-align: center;
  font-family: "Tajawal", sans-serif;
  padding: 20px;
}

.SmallSqrs1 {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 250px;
}

.bm-result-page .SmallSqrs2 {
  position: absolute;
  bottom: -35px;
  right: -10px;
  width: 350px;
}

.bm-result-page .LeftArrow {
  position: relative;
  right: 36px;
  top: 10px;
}

.bm-result-page .Logo {
  height: 70px;
  right: 20px;
  position: absolute;
  top: 15px;
  width: 70px;
}

.bm-result-page h1 {
  font-size: 36px;
  color: #2e3a59;
  margin-top: 80px;
}

.bm-table-container {
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

.bm-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.bm-table th,
.bm-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 15px;
}

.bm-table th {
  background-color: #e63a46;
  color: white;
  font-size: 18px;
}

.bm-table td {
  background-color: #f9f9f9;
  color: #555;
  font-size: 16px;
}

.bm-table tr:hover {
  background-color: #f1f1f1;
}

.bm-table .left-aligned {
  text-align: center;
}

.bm-table .right-aligned {
  text-align: center;
}

.text {
  position: relative;
  left: 18px;
  bottom: 20px;
  font-size: 14px;
}

.back-btn {
  font-family: "Tajawal-Regular", Helvetica;
  margin-top: 35px;
  position: relative;
  right: 490px;
  width: 150px;
  height: 50px;
  bottom: 25px;
  background-color: #e63a46;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.back-btn:hover {
  background-color: #234069;
}
